@import '../variables.scss';

.education {
  .basic-information {
    margin-bottom: 0.5em;

    @media screen and (min-width: $max-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  .institution {
    margin-bottom: 0.5em;

    @media screen and (min-width: $max-width) {
      margin-bottom: 0;
    }
  }
}
