@import '../variables.scss';

.page-section {
  margin-bottom: 3em;

  .page-section-title {
    margin-bottom: 1em;
  }

  .title-text {
    margin-bottom: 0.33em;
  }

  .title-underline {
    height: 2px;
    border-bottom: 2px solid var(--text-color-light);
    transform-origin: left;
  }
}
