@import './variables';
@import './typeography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color-normal);
  background: var(--background-color);
}

main {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 3em;
}

p {
  margin: calc(1em + .5vw) 0;
  line-height: calc(1.5em + .2vw);
}

.text-italic {
  font-style: italic;
}
