:root {
  --background-color: #e2e2ff;
  --text-color-normal: #181723;

  @media (prefers-color-scheme: dark) {
    --background-color: #181723;
    --text-color-normal: #e2e2ff;
  }
}

$max-width: 660px;
